{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 90,
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        },
        {
            "files": [
                "*.js",
                "*.jsx",
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "parser": "babel-ts"
            }
        }
    ]
}
